<div>
  <p>Sua seleção especial</p>
  <div class="produtos">
    <div class="card" style="width: 15rem;">
      <div class="card-body">
        <h4>Produto teste</h4>
        <img src="https://via.placeholder.com/200x150" alt="imagem de teste">
        <h5 class="card-title">Nome do Produto</h5>
        <p class="card-text">Descrição do produto um pouco maior, com duas linhas ou três que explica melhor do que se trata.</p>
        <button href="#" class="card-button">Card link</button>
      </div>
    </div>
  </div>
</div>
